.footer-container {
    padding: 32px 20px;
    background: #fff;
}

.footer-title-top {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding-top: 8px;
}

.footer-title-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding-bottom: 8px;
    color: black;
    text-align: center;
}

.footer-title-bottom span {
    line-height: 1.5;
}